@media(min-width:320px) and (max-width:575px){
    .contact_info{
        flex-direction: column;
        text-align: left;
        
    }
   
    .profile__image--cercel{
        width: 300px;
        height: 300px;
    }
    .project__item{
        width: auto;
        display: inline;
    }
    .fitem{
        width: auto;
        display: inline;
    }
    .email{
        font-size: 14px;
    }
    .skill__content--heading p {
        font-size: 17px;
        text-align: justify;
    }
}  
@media(min-width:992px) and (max-width:1450px){
   /* .project__item{
    width: auto;
    display: inline;
   } */

}
@media(min-width:768px) and (max-width:991px){
   .profile__image--cercel{
        width: 300px;
        height: 300px;
    }
    
}